
.italics {
	font-style: italic;
}

.equation {
	font-family: monospace;
	background-color: #F3F3F3;
	font-size: larger;
	margin: 10px 20px 10px 0;
}

.exercise {
	padding-left: 10px;
	border-left: 2px solid #DA4040;
	margin: 10px 0 10px 25px;
}

.tablediv {
	margin-top: 17px;
	border: 1px solid black;
	padding: 5px;
}
	
#left_side img { float: none; padding: 0 0 0 0;}

.imagediv {
	float: left;
	font-size: x-small;
	padding: 0 10px 5px 0;
}

table {
	width: 100%;
}

td {
	font: 0.74em/1.5em Arial, sans-serif;
}

th {
	font: 0.74em/1.5em Arial, sans-serif;
	font-weight: bold;
	text-align: left;
	border-bottom: 1px dotted;
}